.form-log {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    margin-top: 1.35rem;
}
.form-log form {
    width: 92vw;
}

.form-log form div.fields > input {
    margin-bottom: 1rem;
    height: calc(2.2rem + .90rem);
    box-shadow: 0 0 0 .4px rgb(181, 221, 193);
}
.form-log form [type="submit"] {
    margin-top: 2.2rem !important;
    padding: .75rem .95rem;
    font-weight: 600;
    background-color: #62da33;
    border: 1px solid rgba(228, 243, 233, 0.9);
    color: #222;
}
.form-log [class^="fa"] {
    font-size: 3.5rem;
    height: 80px;
    width: 80px;
    line-height: 1.5;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    background-color: #62da33;
    border: 5.5px solid rgba(186, 214, 195, 0.2);
    margin-bottom: 1.2rem;
}

@media(min-width: 567px)
{
    .form-log form {
        width: 63vw;
    }
    .form-log form div:nth-child(1):not(div.wrapper-form) {
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
    }
    
    .form-log form div:nth-child(1) .wrapper-form {
        flex-direction: column;
        flex: 1;
        /* border: 2px solid greenyellow; */

    }
}