/* STYLES CSS */

@import 'form.css';
@import 'style2.css';
@import 'style3.css';
@font-face { font-family: "jae"; src: url("YuseiMagic-Regular.ttf");}

*, *::before, *::after {
box-sizing: border-box;
padding: 0;
margin: 0;
font-weight: 200;
}

html, body { height: 100%; font-size: 14px; font-family: "jae"; color: #222; line-height: 1.5;}



.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  /* background: #0a93a8; */
  background-color: #9dec78;
  /* box-shadow: 0 0 3px .5px #969fa0 ; */
  z-index: 900;

}

.brand{
  font-size: 1.35rem;
  padding: .25rem .5rem;
  font-weight: 300;
  text-decoration: none;
  line-height: 1.5;
  color: #ffffff;
  /* text-shadow: 0 1px 5px rgb(240, 247, 245); */
}

.hamb {
  width: 1.7rem;
  height: 1.5rem;
  padding: .25rem;
  background: transparent;
  border: transparent;
  text-align: center;
  outline: 0;
  display: none;
}

.hamb .iconHamb {
  display: block;
  height: .15rem;
  background-color: #c0bebe;
}
.iconHamb:active {
  background-color: rgb(151, 148, 148);
}
.iconHamb + .iconHamb {
  margin: 4px 0;
}
.link:hover {color: grey; }
    .link {
        display: block;
        text-decoration: none;
        padding-top: .35rem;
        padding-bottom: .35rem;
        color: #ffffff;
        /* font-size: .95rem; */
        /* text-shadow: 0 0 .2px #5f5d5d; */
    }

.nav .nav-form {
  display: block;
  width: 100%;
}
.nav-form [type="text"] {
  width: 100%;
  padding: .42em .7rem;
  border: transparent;
  outline: 0;
  background: #00000038;
  color: #ffffff;
  height: calc(2rem + .60rem + 2px);
  border-radius: .15rem;
  line-height: 1;
  /* font-size: .95rem; */
  font-family: 'jae';
}
::placeholder {
  color: #d4cece;
}




.text-center {
  text-align: center;
}

.text-none, .brand, a.btn, .link {
  text-decoration: none;
}

.c_red_pal { color: #d87777; }
.c_white_pal { color: #e4dede; }

.d-flex {
  display: flex;
}






.w-100{
  width: 100%;
}
.mt-3 { margin-top: 2.5rem; }
.xxx { padding-top: calc(2.45rem + 1.2rem + 2px); }
.h-100 { height: 100% !important; }

.wrapper, .wrapper-fluid { display: flex; flex-direction: column; }

.bwat {
  font-size: .80rem;
  height: 170px;
  width: 228px;
  border-radius: 4px;
}
.bwat > img{
  display: block;
  width: 100%;
  height: 7rem;
  border-radius: 4px;
}
.scroll .bwat:nth-child(2n) {
 margin: 0 .5rem;
}
.scroll {
  height: 190px;
  display: flex;
  flex-flow: column wrap;
  overflow: auto;
  padding: .6rem .5rem .2rem;
}

.wrapper-form { margin-bottom: .5rem; }

.input, .btn, .wrapper-form label
{
  font-size: 1rem;
  display: inline-block;
  border-radius: .2rem;
  outline: 0;
  background: #fff;
}
.wrapper-form label{ display: block; padding: 1px; margin-bottom: .25rem; text-align: left !important;}

.input
{
  width: 100%;
  padding: .5rem .75rem;
  border: .5px solid rgb(211, 208, 208);
  height: calc(2.2rem + 0.5rem + 2px);
}
textarea.input { height: calc(3.5rem + 1.7rem + 4px); }

.btn
{
  font-weight: 500;
  padding: .6rem .75rem;
  border: 1px solid transparent;
  text-align: center;
  user-select: none;
}

.btn:hover {color: #333333; }
.btn.mean, .btn.minus { font-size: .92rem; }
.btn.mean { padding: .5rem .25rem; }
.btn.minus { padding: .27rem .4rem; }
.b_yellow { background-color: #EDB641; border: 1px solid #dfac3d;}
.yello { background-color: #EDB641;}
.b_blue { background-color: rgb(58, 169, 212); color: #ffffff; border: 1px solid rgb(51, 196, 221);}
.c_black { color: #222;}


.p-1 { padding: .25rem; }
.p-2 { padding: .5rem; }
.mauve { background-color: rgb(7, 66, 228); color: #e7e5e5;}
.b { border: 1px solid rgb(223, 221, 221);}
.btn.big {
  padding: .85rem 1.7rem;
  font-size: 1rem;
  border-radius: .35rem;
}

.bg_black_b {
  background-color: #222;
  color: #dddddd;
  border: 1.5px solid rgb(4, 140, 145);
}

/* NEW FOOTER */
#foo {
  background-color: #444444;
  box-shadow: 0 -1px 2px .5px grey ;
  color: #e7e5e5;
  margin-top: 3.75rem;
}
#foo .wrapper  > *{
  margin-bottom: .5rem;
}
.list-footer {
  list-style: none;
}
.list-footer li {
  margin-bottom: 1.25rem;
}
.list-footer li a {
  text-decoration: none;
  padding: .5rem;
  color: inherit;
}






.img {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: green;
  margin: 0 auto;
  box-shadow: 0 0 4px .1px grey;
}
#apropos > div{
  width: 100%;
  margin-top: .75rem;
  margin-bottom: 1.75rem;
  padding: .35rem;
}
#apropos div > h2{
  font-size: 1.25rem;
  text-align: center;
}
#apropos h2 span{
  font-size: .95rem;
}

#apropos p{
  text-align: justify;
}
#apropos div p::after, #apropos div p::before{
  display: inline-block;
  color: #222;
  content: '"';
}
#apropos div h3{
  text-align: center;
}
#apropos div h3::before{
  content: '<<';
}
#apropos div h3::after{
  content: '>>';
}



.pres{
  position: relative;
  color: #e4dede;
  width: inherit;
  height: calc(100vh - 3.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: url('IMG-20210227-WA0001.jpg') no-repeat ; */
  background-size: cover;
  z-index: 10;
}

.pres div{
  position: absolute;
  top: 4.5rem;
  right: 0;
  width: 2rem;
  height: 8.97rem;
  border-radius: 50%;
  background: linear-gradient(75deg, white, rgb(223, 214, 166));
}
.about, #programmes{
  text-align:justify;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.about > p, #contact, #contact h3, #programmes > ul li h3{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

img.detail{
  display: block;
  width: 100%;
  height: 17rem;
}
#detail .comp{
  padding: .5rem 1rem;
}
#detail .comp > ul{
  list-style: none;
}
#detail .cont{
  padding: .5rem 1.5rem;
}
#detail .descrip p{
  text-align: start;
}
.list li {
  margin-top: .67rem;
  padding: .7rem;
  border-radius: .25rem;
}
.l li:nth-child(odd){
  background-color: grey;
}
.dash {
  width: 100%;
  height: 11.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h7{height: 7rem !important;}


#courses{
  padding: .25rem .75rem;
}
#courses img, #courses .course{
  border-radius: .25rem;
}
#courses .course, #courses .course div
{
  display: flex;
  justify-content: space-between; 
}
#courses .course  div { flex-direction: column; }

#courses .course{
  padding: .5rem .75rem;
  font-size: .687rem;
  height: 7rem;
  border: 1px solid rgb(206, 214, 193);
  margin-bottom: 1.5rem;
}

#courses .course img{
  align-self: center;
  width: 37%;
  height: 100%;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
.pagination li {
  display: block;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgb(175, 172, 172);
  margin: 1rem .5rem 1rem;
  border-radius: 50%;
  text-align: center;

}
.pagination li a{
  display: block;
  text-decoration: none;
  padding: .25rem;
  line-height: 2;
  color: #ffffff !important;
}
.pagination .already {
  background-color: rgb(45, 194, 231);
}
.pagination li.current {
  background-color: rgb(114, 236, 65) !important;
}