{% extends 'base.html' %}
{% load student_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}

<p>{{ object.title }} / {{ module.title }}</p>

<p>{% if last_module %}Cours termine.{% endif %}</p>

<div class="module">
    <br>
    {% for content in module.contents.all %}
    {% with item=content.item %}
    <div id="content-items" >
    <h2>{{ item.title }}</h2>
        {{ item.render }}
    </div>
    {% endwith %}
    {% endfor %}
</div>
<br>


    {%if module.m_quiz and request.user not in module.m_quiz.passes.all%}
        <!-- {{module.m_quiz.description}} -->
        <a href="{% url 'quiz' module.m_quiz.pk object.id%}?rnext={{request.get_full_path}}#pagination" class="btn quiz">Passer le questionnaire</a>
    {%endif%}

    <ul class="pagination" id="pagination">
        {% for m in object.modules.all %}
        {% if m.id <= last_mod %}
            <li {% if module.title == m.title %} class="current" {% else %} class="already" {% endif %} ><a href="{% url 'student_course_detail_module' course.id m.id%}">{{m.title|truncatewords:1}}</a>
        {%else%}
            <li><a href='#' class=""></a>{{m.title|truncatewords:1}}</a></li>
        {%endif%}

        {% empty %}
        {% endfor %}
    </ul>

</div>
{% endblock %}