{% extends 'base.html' %}
{% load static %}

{% block title %}Se connecter{% endblock %}
{% block styles %}
.question {
    margin-bottom: .5rem;
}
.question [type='radio']{
    width: 18px;
    height: 18px;
}
.question [type='radio'] + label::after {
    content: '';
    display: block;
}
.text {
    font-size: 1.3rem;
}

.quiz [type="submit"] {
  display: block;
  background-color: orange;
  padding: .80rem 1rem;
  font-weight: 600;
  width: 80%;
  border-radius: .5rem /.5rem;
  margin: 3rem auto;

}

{% endblock %}

{% block content %}
{% if request.user not in q.passes.all %}
<h2 class="p-2 text-center">{{q.description}} - pass {{q.pourcent}}%</h2>

<div class="quiz wrapper"">
    <form method="POST">
        <!-- {% for q in quiz.questions.all %}
            <p>{{ q.label }}</p>
            {%for a in q.answers.all %}
            <input required class="req" type="radio" name="{{q.pk}}" value="{{a.position}}"> <label class="q" for="{{q.pk}}">{{a.label}}</label> <br>
            {% endfor %}
        {% endfor %} -->
        {% for q in quiz %}
        <div class="question">
            <p class="text">{{ q.label }}</p>
            {%for a in q.answers.all %}
                <input required class="req" type="radio" name="{{q.pk}}" value="{{a.position}}"> <label class="q" for="{{q.pk}}">{{a.label}}</label>
            {% endfor %}
        </div>
       {% endfor %}

        {% csrf_token %}
        <input type="submit" value="Envoyer" class="btn">
    </form>
</div>

{% else %}

    {%if last%}
        <h1>Felicitations!Vous avec termine avec ce cours.</h1>
    Vous pouvez revisez a tout moment.

    {% endif %}

    {%if course_id%}
        {%if last%}
        <a href="{% url 'student_course_detail_module' course_id %}">Revisez</a>
        {%else%}
        <a href="{% url 'student_course_detail_module' course_id %}">Suivant</a>
        {% endif %}
    {% endif %}

{% endif %}
<script>
    var qs = document.querySelectorAll('.q');
    document.querySelector('form').addEventListener('submit', function(e){
        var x = 55;
    });

</script>

{% endblock %}